*{
    margin: 0;
    padding: 0;
}

/* 7a */
.cat-img{
    width: 200px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;

}

/* 7b */

.cat2-img{
    width: 130px;
    height: 130px;
    object-fit: cover;
    object-position: center;
}

/* 7c */

.cat3-img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/* 7d */
.text{
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid rgba(98, 98, 98 , 0.4);
    border-radius: 10px;
}

/* 7e */
.Search{
    padding: 10px 20px;
    width: 350px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 25px;
    border: none;
    box-shadow: 1px 1px 7px gray;
}

/* 7f */

p{
    color: grey;
    font-family: Arial;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.em{
    margin-left: 20px;
    height: 25px;
    width: 400px;
    border: 2px solid gray;
    border-radius: 5px;
}

.agree{
    font-weight: 600;
    font-size: 14px;
}

.agree-btn{
    height: 40px;
    width: 400px;
    margin-left: 20px;
    border-radius: 25px;
    border: none;
    background-color: rgb(0, 156, 218);
    color: white;
    font-size: 15px;
    font-weight: bold;
}

/* 7g */

.cutie{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
    margin-left: 29px;
    vertical-align: middle;
}

.text-box {
  font-size: 18px;
  border: none;
  width: 300px;
  vertical-align: middle;
  margin-top: 20px;
  
}

.tweet-btn{
 border: none;
 background-color: rgb(0, 81, 255);
 color: white;
 padding: 7px 15px;
 border-radius: 15px;
 font-weight: bold;
 vertical-align: middle;
 margin-top: 20px;
}

